/* Base styles for the entire site */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #2b0b35; /* Background color for the page */
  display: flex;
  flex-direction: column; /* Make sure elements stack vertically */
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Ensure body takes at least the height of the viewport */
}

/* Header styles */
header {
  color: #fff; /* White text for the header */
  padding: 10px 0;
  width: 100%;
  text-align: center;
}

header nav {
  display: flex;
  justify-content: center;
  gap: 10px;
}

header nav a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2em;
}

header nav a:hover {
  text-decoration: underline;
}

/* Main container styles */
.container {
  width: 90%; /* Use 90% of the available width */
  max-width: 800px; /* Limit the maximum width to 800px */
  background: #fff; /* White background for the container */
  border-radius: 8px; /* Rounded corners */

  padding: 20px;
  text-align: center; /* Center text inside the container */
}

/* Image styles */
img {
  max-width: 100%; /* Limit maximum width to 100% of the container */
  max-height: 200px; /* Limit maximum height to 200px */
  height: auto; /* Maintain aspect ratio */
  border: 4px solid #333; /* Dark border for images */
  border-radius: 4px; /* Rounded corners for images */
}

/* Explanation section styles */
.explanation {
  margin: 20px 0;
  padding: 15px;
  background: #fff; /* White background for explanations */
  border-radius: 5px; /* Rounded corners */
}

/* Loader styles */
#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Spinner styles */
.spinner {
  width: 50px;
  height: 50px;
}

/* Styles pour la navigation */
.nav {
  display: flex;
  justify-content: center; /* Centre les liens horizontalement */
  gap: 20px; /* Espacement entre les liens */
  margin-bottom: 20px; /* Espacement sous la barre de navigation */
}

/* Styles pour les liens de navigation */
.nav a {
  color: #3498db; /* Couleur bleue pour les liens */
  text-decoration: none; /* Retire le soulignement par défaut */
  font-size: 1.2em; /* Taille de police plus grande pour une meilleure visibilité */
  padding: 10px 15px; /* Espacement intérieur pour les liens */
  border-radius: 5px; /* Coins arrondis */
  transition: background-color 0.3s, color 0.3s; /* Transition douce pour les changements de couleur */
}

/* Styles pour les liens au survol */
.nav a:hover {
  background-color: #f4f4f4; /* Fond légèrement gris au survol */
  color: #2b0b35; /* Couleur du texte au survol pour plus de contraste */
  text-decoration: underline; /* Soulignement au survol */
}
