<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>{{ title }}</title>
    {% load static %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'nasa_info/styles.css' %}"
    />
  </head>
  <body>
    <header>
      <h1>NASA Astronomy Picture of the Day</h1>
    </header>

    <div class="container">
      <div class="image-container">
        <h2>{{ title }}</h2>
        <img src="{{ image_url }}" alt="APOD Image" />
      </div>

      <div class="explanation">
        <p>{{ explanation }}</p>
      </div>
    </div>

    <script src="{% static 'nasa_info/script.js' %}"></script>
  </body>
</html>
